<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>DemoAppp</title>
=======
  <title>DomoApp</title>
>>>>>>> 1b0ec5d8e4c45fecc9409c6987e157f876e4ea7e
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
